
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title"><span title=""> {{site.title}} </span></div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a><span class="exclamationMark">	&bull;</span>

    {% for sitePage in site.pages %}
    {% if sitePage.title %}

    <a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a><span class="exclamationMark">&bull;</span>
    {% endif %}
    {% endfor %}
  </div>
</div>
